* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
  font-size: 20px;
}

#root {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    154deg,
    hsl(176, 78%, 18%),
    rgb(64, 109, 144),
    rgb(119, 35, 132),
    #060008
  );
  padding: 10px;
  position: relative;
}

.container {
  width: 70%;
  max-width: 540px;
  background: #ffffff;
  margin: 100px auto 20px;
  padding: 40px 30px 40px;
  border-radius: 10px;
}

.title {
  font-size: 40px;
  color: #002765;
  display: flex;
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.title img {
  width: 80px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(203, 209, 211);
  border-radius: 30px;
  padding-left: 15px;
  margin-bottom: 15px;
}

.input-box {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

.add-task-button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #1380c9;
  color: black;
  cursor: pointer;
  border-radius: 40px;
}

.add-task-button:hover {
  color: #fff;
  background: rgb(20, 8, 69);
}

.task-list {
  list-style: none;
  font-size: 18px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

.task-item {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-evenly;
}

.task-item:last-child {
  border-bottom: none;
}

.task-text {
  flex: 1;
  cursor: pointer;
  margin-left: 20px;
}

.task-checkbox {
  margin-right: 0;
  appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
  position: relative;
}

.task-checkbox:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.task-checkbox:checked::after {
  content: "\2713";
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.delete-button {
  float: right;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  color: #090909;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: white;
  font-weight: bold;
}

.delete-button:hover {
  background-color: #edeef0;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  position: relative;
}

.filter-buttons button {
  margin: 0 5px;
  padding: 15px 40px;
  background-color: #1380c9;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.filter-buttons button.active {
  background-color: rgb(20, 8, 69);
  color: white;
}

.task-count {
  font-weight: bold;
  padding: 10px 0px 0px 0px;
  text-align: center;
}
